#global-background {
    position: fixed;
    inset: 0;

    background-image: url("../images/nails-background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(8px);
    opacity: 0.65;

    z-index: 0; /* най-отзад */
}

/* Всички страници трябва да са над фона */
#content-wrapper {
    position: relative;
    z-index: 2;
}