/* ОБЩ КОНТЕЙНЕР */
.nails {
  min-height: 100vh;
   margin-top: 4rem; 
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 4rem 1rem;
}

.full-sections {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 15rem;
}

.full-section {
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 15px rgba(0,0,0,0.12);
  border-radius: 18px;
  padding: 18px 22px;     /* беше 25px → по-малко */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* редът със съдържанието */
.content-row {
  display: flex;
  align-items: center;
  gap: 1.5rem;   /* беше 2rem */
}

/* снимките леко по-малки */
.full-image {
  width: 160px;    /* беше 200px */
  height: 160px;
  object-fit: cover;
  border-radius: 14px;
}

/* текстът също леко свит */
.full-text h2 {
  margin: 0;
  font-size: 1.7rem;   /* беше 2rem */
  color: #f3f3f3;
}

.full-text p {
  margin-top: 6px;
  font-size: 1.05rem;
  color: #f3f3f3;
}
