@import "header.css";
@import "home.css";
@import "save-your-time.css";
@import "global.css";
@import "register.css";
@import "login.css";
@import "reservations.css";
@import "details.css";
@import "catalog.css";